#header {
    background-color: var(--color-primary);
    border-radius: 0 0 20% 0;

    height: 70vh;
    width: 100vw;
}

.header-glass{

}

/*section id=menu*/
#menu{
    padding: 0 var(--padding-dafult-x);
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;

    background-color: var(--color-secondary);
}

.left, .right {
    display: flex;
    align-items: center;
}

.left{
    justify-content: left;
    gap: 0 1rem;
    width: 40%;
    height: 100%;
}

.left > .logo{
    text-decoration: none;
    border-right: solid 0.2rem var(--color-primary-shadow);
    width: 45%;
}

.left > .logo > p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-tartiary);
    letter-spacing: 0.2rem;
    transition: 1s;
}

.left > .logo > p:hover{
    cursor: pointer;
    color: var(--color-secondary-shadow);
}

.left > .search{
    width: 55%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--margin-dafult-x-half);
}

.right{
    width: 60%;
    justify-content: right;
}

.desk-menu {
    width: 65%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desk-menu > a:hover {
    transform: translate(0, 10%);
    text-decoration: underline;
    color: var(--color-primary);
}
