@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #114986;
    --secondary-color: #279FDA;
    --tartiary-color: #AACAED;

    --primary-shadow-color: #DCDDE0;
    --secondary-shadow-color: #E7E8EA;


    }

*{
    background: green;
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
