@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('header.css');
@import url('../styles/component-design/search.css');

:root {
    --color-primary: #114986;
    --color-secondary: #279FDA;
    --color-tartiary: #AACAED;

    --color-primary-shadow: #DCDDE0;
    --color-secondary-shadow: #E7E8EA;

    --margin-dafult-x: 20px;
    --margin-dafult-y: 10px;
    --margin-x-half: 10px;
    --margin-y-half: 5px;
    --padding-dafult-x: 20px;
    --padding-dafult-y: 10px;
    --padding-x-half: 10px;
    --padding-y-half: 5px;

    --base-padding-x: 15%;
    --base-padding-y: 2%;

}

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
*, *::before, *::after{
}

body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;

    /*overflow: hidden;*/
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}


body > header > section {
    padding: 0 var(--padding-x-half);
}

body > section, body > footer {
    padding: var(--padding-y-half) var(--padding-x-half);

}


@media screen and (min-width: 1366px) {

    body > header > section {
        padding: 0 var(--base-padding-x);
    }

    body > section, body > footer {
        padding: var(--base-padding-y) var(--base-padding-x);

    }

}
